<%- include('../includes/header.ejs') %>
  <title>
    <%= title %>
  </title>
  </head>

  <body>
    <%- include('../includes/nav.ejs') %>
      <main class="container">
        <h2 class="my-5 text-center">Pokemon Characters</h2>
        <div class="row justify-content-center">
          <ul id="pokeList" class="">
          </ul>
        </div>
        <div class="actions_container text-center">
          <button id="prevBtn">Previous</button>
          <button id="nextBtn">Next</button>
        </div>
      </main>
      <script src="/js/prove09.js"></script>
  </body>

  </html>