<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is a Node application deployed to Heroku. It's a simple app that has all of my course work in the CSE341
          course.</p>
        <div class="d-flex justify-content-center">
          <a type="button" class="d-flex align-items-center btn btn-lg btn-default text-white mr-3"
            href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span
              class="material-icons">bolt</span> Getting Started on Heroku with Node.js</a>
          <a type="button" class="btn btn-lg btn-primary d-flex align-items-center"
            href="https://github.com/elvisduru/cse341"><span class="material-icons">visibility</span>&nbsp;View Source
            on GitHub</a>
        </div>
      </div>
    </div>

</body>

</html>